.withdraw{
    position: absolute;
    background: #C79E4F;
    -webkit-box-shadow: 0px 0px 31px 7px #000000; 
    box-shadow: 0px 0px 31px 7px #000000;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
}

.withdraw-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.withdraw-header p{
    font-weight: 900;
    cursor: pointer;
    font-size: 20px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}